build/dist/**
build/deps/**
streamtario_packages.egg-info
__pycache__
versions
certs
TREE.md
dev_resources
.vscode
.env
.env.local
build
.venv
package-lock.json
**/.env
.env.docker
.vercel
dist
.next
**/go.mod
streamtario-backup.bundle
StreamtarioInstaller.exe