# FastAPI & Uvicorn
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
debugpy

# HTTP Client
httpx
httpx[http2]
dependency-injector


# Database (PostgreSQL) & ORM
sqlalchemy[asyncio]
asyncpg
alembic

# Cache
redis[hiredis]

# Encode
bcrypt

# Graphql
strawberry-graphql[fastapi]

# Security and login
python-jose
google-auth
requests
google-auth-oauthlib